﻿@model StudentsApp.ApplicationServices.ViewModels.TeacherDetailsViewModel

<div id="modal-view-student" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Профиль преподавателя</h4>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Login)
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.Login)
                            </div>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.FirstName)
                            </div>
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SurName)
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.SurName)
                            </div>
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SubjectName)
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.SubjectName)
                            </div>
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Students)
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                <table id="details-teacherStudentsTable" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Фамилия</th>
                                            <th>Имя</th>
                                        </tr>
                                    </thead>
                                    @foreach (var student in Model.Students)
                                    {
                                        <tr>
                                            <td>@student.SurName</td>
                                            <td>@student.FirstName</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </dd>
                    </dl>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>
