﻿@model StudentsApp.ApplicationServices.ViewModels.TeacherDetailsViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-edit-teacher" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TeacherUserId)
        
        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Login, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SurName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SurName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.SurName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SubjectName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.SubjectName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Students, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="modal-add-student" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Добавление студента</h4>
                            </div>
                            <div class="modal-body">
                                <select id="select-students">
                                    <option></option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                <button id="btn-add-student" type="button" class="btn btn-primary">
                                    Добавить студента
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <input id="btn-open-add-student-modal" type="button" value="Добавить" class="btn-add btn-sm btn-default" data-toggle="modal" />
                <table id="studentStudentsTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Фамилия, Имя</th>
                        </tr>
                    </thead>
                    @for (int i = 0; i < Model.Students.Count(); i++)
                    {
                        <tr>
                            <td>
                                @{
                                    var student = Model.Students[i];
                                }
                                @Html.DisplayFor(modelItem => student.FullName)
                            </td>
                            @Html.HiddenFor(modelItem => modelItem.Students[i].StudentUserId)
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '#btn-open-add-student-modal', function () {
            $.ajax({
                url: '@Url.Action("List", "Student")',
                success: function (data) {
                    var select2Data = $.map(data.data, function (obj) {
                        obj.id = obj.StudentUserId;
                        obj.text = obj.StudentFullName;
                        return obj;
                    });
                    console.log(select2Data);
                    $("#select-students").select2({
                        placeholder: "Выбрать студента",
                        data: select2Data,
                        width: 300
                    });
                    $('#modal-add-student').modal('show');
                }
            });
        });

        $(document).on('click', '#btn-add-student', function () {
            var selectedOption = $("#select-students").select2('data')[0];
            if (selectedOption.id) {
                var studentCount = $('#studentStudentsTable > tbody > tr').length;
                var studentUserIdHidden =
                    '<input type="hidden" ' +
                        'value="' + selectedOption.id + '" ' +
                        'name="Students[' + studentCount + '].StudentUserId">' +
                    '</input>';

                var teacherFullName = selectedOption.text;
                $('#studentStudentsTable').append('<tr><td>' + teacherFullName + '</td>' + studentUserIdHidden + '</tr>');
                window.CloseDialog('modal-add-student');
            }
        });
    });
</script>

