﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/myScripts")
</head>

<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="server-datetime"></span>
            <div style="float: right" id="username-info"></div>
        </div>

        <div class="panel-body">
            @RenderBody()
        </div>


        @RenderSection("scripts", required: false)

        <div class="panel-footer navbar-fixed-bottom">
            <div>Студентов: <span id="number-of-students"></span></div>
            <div>Преподавателей: <span id="number-of-teachers"></span></div>
        </div>
    </div>

    <div id="modal-message" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div id="modal-message-text"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loading-div">
        <img src="~/Content/images/ajax-loader.gif" alt="Загрузка..." />
    </div>
</body>

<script type="text/javascript">

    function ShowMessage(message) {
        $('#modal-message-text').text(message);
        $('#modal-message').modal('show');
    }

    function ShowDialog(dialogId, bodyContent) {
        var $modalDialog = $('#' + dialogId);
        $modalDialog.find('.modal-body').html(bodyContent);
        $modalDialog.modal('show');
    }

    function CloseDialog(dialogId) {
        var $modalDialog = $('#' + dialogId);
        $modalDialog.modal('hide');
    }

    function CloseDialogBySelector(selector) {
        var $modalDialog = $(selector);
        $modalDialog.modal('hide');
    }

    this.ShowLoginDialog = function () {
        $('.nav a[href="#login"]').trigger('click');
    }

    this.CheckPermission = function (result, actionIfHasPermission) {
        if (result.IsAuthenticated != undefined && !result.IsAuthenticated) {
            ShowLoginDialog();
        } else {
            if (result.HasPermission != undefined && !result.HasPermission) {
                ShowMessage("У Вас не достаточно прав");
            } else {
                actionIfHasPermission();
            }
        }
    }

    $(document).ready(function () {

        var $loading = $('#loading-div').hide();
        $(document)
            .ajaxStart(function () {
                $loading.show();
            })
            .ajaxStop(function () {
                $loading.hide();
            });

        $.ajax({
            url: '@Url.Action("SummaryInfo", "Home")',
            success: function (result) {
                $('.panel-heading #server-datetime').text(result.CurrentDateTime);
                $('.panel-footer #number-of-students').text(result.NumberOfStudents);
                $('.panel-footer #number-of-teachers').text(result.NumberOfTeachers);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
</html>
