﻿@model StudentsApp.ApplicationServices.ViewModels.UserViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-login" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
    </div>
}
