﻿@{
    ViewBag.Title = "Главная страница";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Главная</a></li>
    <li><a data-toggle="tab" href="#students">Студенты</a></li>
    <li><a data-toggle="tab" href="#teachers">Преподаватели</a></li>
    <li class="dropdown" data-toggle="tab">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Отчеты
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#teachersWhoStudyAllStudents">
                    Список преподавателей, предметы которых посещают все студенты
                </a>
            </li>
            <li>
                <a href="#studentsWhoHaveGreaterThanAverageMark">
                    Список студентов, чей средний балл выше среднего по всему списку студентов
                </a>
            </li>
            <li>
                <a href="#TeachersWhoHaveLeastQuantityOfStudents">
                    Список преподавателей, предметы которых посещают меньше всех студентов
                </a>
            </li>
        </ul>
    </li>
    @if (Request.IsAuthenticated)
    {
        <li><a id="link-logout" href="@Url.Action("Logout", "Account")">Выйти</a></li>
        <li><a style="display: none" href="#login">Логин</a></li>
    }
    else
    {
        <li><a id="link-logout" style="display: none" href="@Url.Action("Logout", "Account")">Выйти</a></li>
        <li><a href="#login">Логин</a></li>
    }
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane active">
        <h2>Главная страница</h2>
    </div>
    <div id="students" class="tab-pane">
        <table id="studentsTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя, Фамилия</th>
                    <th>Средний бал</th>
                </tr>
            </thead>
        </table>

        <div id="modal-edit-student" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Редактирование данных студента</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button id="btn-save-student" type="button" class="btn btn-primary">
                            <div class="dialog-loading-div">
                                <img src="~/Content/images/ajax-loader.gif" alt="Сохранение..." />
                            </div>
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-create-student" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Регистрация студента</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button id="btn-create-student" type="button" class="btn btn-primary">
                            <div class="dialog-loading-div">
                                <img src="~/Content/images/ajax-loader.gif" alt="Сохранение..." />
                            </div>
                            Зарегистрировать
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="teachers" class="tab-pane">
        <table id="teachersTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Предмет</th>
                    <th>Количество студентов</th>
                </tr>
            </thead>
        </table>

        <div id="modal-edit-teacher" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Редактирование данных преподавателя</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button id="btn-save-teacher" type="button" class="btn btn-primary">
                            <div class="dialog-loading-div">
                                <img src="~/Content/images/ajax-loader.gif" alt="Сохранение..." />
                            </div>
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-create-teacher" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Регистрация преподавателя</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button id="btn-create-teacher" type="button" class="btn btn-primary">
                            <div class="dialog-loading-div">
                                <img src="~/Content/images/ajax-loader.gif" alt="Сохранение..." />
                            </div>
                            Зарегистрировать
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="teachersWhoStudyAllStudents" class="tab-pane">
        <table id="teachersWhoStudyAllStudentsTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Предмет</th>
                    <th>Количество студентов</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="studentsWhoHaveGreaterThanAverageMark" class="tab-pane">
        <table id="StudentsWhoHaveGreaterThanAverageMarkTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя, Фамилия</th>
                    <th>Средний бал</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="TeachersWhoHaveLeastQuantityOfStudents" class="tab-pane">
        <table id="TeachersWhoHaveLeastQuantityOfStudentsTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Предмет</th>
                    <th>Количество студентов</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="login">
        <div id="modal-login" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Форма входа</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button id="btn-login" type="button" class="btn btn-default">
                            <div class="dialog-loading-div">
                                <img src="~/Content/images/ajax-loader.gif" alt="Вход..." />
                            </div>
                            Войти
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
