﻿@model StudentsApp.ApplicationServices.ViewModels.StudentDetailsViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-create-student" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.StudentUserId)

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.SurName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SurName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.SurName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teachers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="create-modal-add-teacher" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Добавление преподавателя</h4>
                            </div>
                            <div class="modal-body">
                                <select id="create-select-teachers">
                                    <option></option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                <button id="create-btn-add-teacher" type="button" class="btn btn-primary">
                                    Добавить преподавателя
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <input id="btn-open-add-teacher-create-modal" type="button" value="Добавить" class="btn-add btn-sm btn-default" data-toggle="modal" />
                <table id="create-studentTeachersTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Фамилия, Имя</th>
                        </tr>
                    </thead>
                    @for (int i = 0; i < Model.Teachers.Count(); i++)
                    {
                        <tr>
                            <td>
                                @{
                        var teacher = Model.Teachers[i];
                                }
                                @Html.DisplayFor(modelItem => teacher.FullName)
                            </td>
                            @Html.HiddenFor(modelItem => modelItem.Teachers[i].TeacherUserId)
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '#btn-open-add-teacher-create-modal', function () {
            $.getJSON('@Url.Action("TeachersThatCanBeAdded", "Teacher", new { studentId = Model.StudentUserId })', function (data) {
                var select2Data = $.map(data.items, function (obj) {
                    obj.id = obj.TeacherUserId;
                    obj.text = obj.SurName + ' ' + obj.FirstName;
                    return obj;
                });
                $("#create-select-teachers").select2({
                    placeholder: "Выбрать преподавателя",
                    data: select2Data,
                    width: 300
                });
                $('#create-modal-add-teacher').modal('show');
            });
        });

        $(document).on('click', '#create-btn-add-teacher', function () {
            var selectedOption = $("#create-select-teachers").select2('data')[0];
            if (selectedOption) {
                var teacherCount = $('#create-studentTeachersTable > tbody > tr').length;
                var teacherUserIdHidden = '<input type="hidden" value="' + selectedOption.id
                    + '" name="Teachers[' + teacherCount + '].TeacherUserId"></input>';
                var teacherFullName = selectedOption.text;
                $('#create-studentTeachersTable').append('<tr><td>' + teacherFullName + '</td>' + teacherUserIdHidden + '</tr>');
                window.CloseDialog('create-modal-add-teacher');
            }
        });
    });
</script>
